*.dll
*.pdb
*.Debug
*.Release

.vs/
Business.FibonacciNumbers/bin/
Business.FibonacciNumbers/obj/
ConsoleApp.FibonacciNumbers/bin/
ConsoleApp.FibonacciNumbers/obj/
MvcApp.FibonacciNumbers/App_Data/
MvcApp.FibonacciNumbers/bin/
MvcApp.FibonacciNumbers/obj/
TestResults/
Tests.FibonacciNumbers/bin/
Tests.FibonacciNumbers/obj/