@model MVC.Fibonacci.Models.ViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
       @using (Html.BeginForm("Index","Home",FormMethod.Post))
       {
           @Html.LabelFor(model => model.sayi)
           @Html.TextBoxFor(model => model.sayi)
           <br />

        <input type="submit" value="Gönder" />
       }
        <br />
        <br />
            @Html.LabelFor(model => model.cikti)
            @Html.DisplayFor(model => Model.cikti)
    </div>
</body>
</html>
